---

---

<html lang="zh-cn">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<ul>
			<li><a href="/blog/">文章</a></li>
			<li><a href="/notes/">笔记</a></li>
			<li><a href="/projects/">项目</a></li>
		</ul>
	</body>
</html>
